@media only screen and (max-width: 1660px) {
  nav {
    margin: 0 200px;
  }

  main {
    padding: 25vh 0 0 200px;
  }

  .sticky {
    padding: 0 200px;
  }
}

@media only screen and (max-width: 1290px) {
  nav {
    margin: 0 100px;
  }

  main {
    padding: 25vh 0 0 100px;
  }

  .sticky {
    padding: 0 100px;
  }
}

/* Big tablets to 1200px: from 1024 to 1200px */
@media only screen and (max-width: 1200px) {
  .main {
    width: 100%;
    padding: 0 5%;
  }

  .row {
    padding: 0 5%;
  }

  .sticky .mobile-nav-icon {
    margin-left: 90px;
  }
}

/* Small tablet to big tablet: from 950px to 1023px */
@media only screen and (max-width: 950px) {
  body {
    font-size: 18px;
  }

  section {
    padding: 60px 0;
  }

  .section-about p {
    width: 80%;
    margin-left: 10%;
  }

  .section-form {
    width: 100%;
  }

  .quantity {
    margin-left: 10px;
    padding: 5px 5px;
  }

  .contact-form {
    width: 60%;
  }
}

.contact-details {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.copyright {
  margin-top: 50px;
}

/* Small phones to small tablets: from 481px to 790px */
@media only screen and (max-width: 790px) {
  body {
    font-size: 20px;
  }

  section {
    padding: 30px 0;
  }

  .row {
    padding: 0 8%;
  }

  nav {
    margin: 0 50px;
  }

  main {
    padding: 25vh 0 0 50px;
  }

  .col {
    width: 100%;
    margin: 0 0 1% 0;
  }

  .section-about p {
    width: 90%;
    margin-left: 5%;
  }

  .main-nav {
    display: none;
  }

  .mobile-nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-nav {
    float: left;
    margin-top: 80px;
    margin-left: 150px;
    font-size: 150%;
  }

  .main-nav li {
    padding: 0 0 7px 0;
    margin: 0;
  }

  .main-nav li {
    display: block;
    padding: 4px;
  }

  .main-nav li a:link,
  .main nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 110%;
  }

  .logo {
    width: 150px;
    height: 80px;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 10px 0px;
  }

  .sticky .main-nav {
    margin-top: 10px;
    margin-left: 35px;
  }

  .sticky {
    padding: 0 50px;
  }

  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }

  .section-form {
    width: 100%;
  }

  .contact-form {
    width: 80%;
  }

  .quantity {
    padding: 5px 5px;
    margin-left: 10px;
  }

  .section-form input[type="submit"] {
    margin-left: 32%;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  section {
    padding: 15px 0;
  }

  nav {
    margin: 0 30px;
  }

  main {
    padding: 25vh 0 0 30px;
  }

  .main {
    margin-top: 20%;
  }

  .main-nav {
    font-size: 150%;
  }

  .main-nav li {
    padding: 0 0 7px 0;
    margin: 0;
  }

  .section-form {
    width: 100%;
  }

  .contact-form {
    width: 80%;
  }

  .product {
    margin: 20px 5px;
  }

  .btn-add:link,
  .btn-add:visited {
    font-size: 80%;
    width: auto;
    text-align: center;
  }

  .section-form input[type="submit"] {
    margin-left: 25%;
  }

  .beer-showcase {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
  }
}
